@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rye&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
$primaryColor : #FE4240;
$titleColor : #4f5354;

/*RESET*/
body, li, ul, .jumbotron {
  margin : 0;
  padding : 0;
}

li, ul {
  list-style: none;
}

a {
  text-decoration : none;
  color : inherit;
}

/*BODY*/

.btn {
  border-radius: 0px;
  background-color: $primaryColor;
  &:hover {
    background-color: white;
    color: $titleColor;
    border: solid 2px $primaryColor,
  }
}

.red {
  color: $primaryColor;
}

.bold {
  font-weight: 600;
}

h2:not(.captionH2) {
  display: block;
  color : $titleColor;
  border-left : solid 5px $primaryColor;
  margin-left : 1rem;
  padding-left: 1rem;
}

/*NAVIGATION*/

nav.navbar {
	position: absolute;
	z-index: 1;
}

nav.navbar h1 a{
  font-size: 2.5rem;
  font-weight: 700;
}

li.nav-item {
  background-color: rgba(255, 255, 255, 0.253);
  margin-right: 3px;
  font-size: 0.9rem;
  &.active {
    background-color: $primaryColor;
    color: white;
  }
  &:first-child {
    background-color: rgba(255, 255, 255, 0)
  }
  &:last-child {
    background-color: rgba(255, 255, 255, 0);
  }
}

/*INPUT SEARCH*/
input.form-control {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.searchConcat {
  display : inline-block;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.39);
  color: rgb(161, 161, 161)
}

/*JUMBOTRON- CAROUSEL*/

.carousel-inner .btn {
  color: white;
  background-color: $primaryColor;
}

.btn_featuredMovie {
  margin-right: 3px;
  background-color: #f2f0f1;
  color: $titleColor;
}

.carousel-item img {
  height : 70vh;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  filter: brightness(0.65);
}

.carousel-inner {
  position : relative;
}

.carousel-caption {
  position: absolute;
  top: 40%;
  & h2 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    & .red {
      font-size: 3.5rem;
    }
  }
}

#carouselExampleIndicators .active {
  background-color: $primaryColor;
}

/*LOGIN NAVBAR*/

.loginNavbar {
  background-color: $primaryColor;
  font-size: 0.9rem;
    & ul li .btn{
      display: block;
      background-color: black;
      font-size: 0.8rem;
      margin-left: 0.5rem;
    }
}
.loginNavbar li.nav-item > a:hover {
  background-color: rgb(255, 255, 255);
  color: #4f5354;
}

/*MOVIE PLAYING CARD*/

.moviePlayingCard {
  border: none;
  margin-bottom: 0.7rem;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

#moviesPlaying {
  margin-top : 1rem;
}

#cardList {
  border: 1px solid rgb(211, 211, 211);
  border-radius: 5px;
  padding-top : 1rem;
  padding-bottom: 1rem;
}

/*SOCIAL NETWORK BUTTONS*/

.socialButtons {
  z-index : 100;
  position : fixed;
  top : 40vh;

  .sw_btn {
    display : block;
    width : 11rem;
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
    line-height: 2.3rem;
    margin-bottom: 2px;
    border-radius : 5rem;
    padding-left: 2rem;
    position : absolute;
    left: -8.8rem;
    transition: all 0.4s ease-out;
      &:hover {
        left:-2rem;
      }
      a {
        text-decoration : none;
        color : white;
      }
  }
}

.facebook {
  background-color: #3c5f95;
  top : 2.5rem;
}
.instagram {
  background-color: #f34a8d;
  top : 5rem;
}
.twitter {
  background-color: #1ca2f7;
  top : 0rem;
}
.google {
  background-color: #d14b3f;
  top : 7.5rem;
}
.whiteRound {
  display: block;
  background-color: white;
  border-radius: 20px;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.3rem;
  .fab {
    font-size: 1.3rem;
  }
}

/*FEATURED MOVIES*/

.btn_featuredMovie{
  &:hover {
    background-color: $primaryColor;
    color: white;
  }
  &:focus {
    background-color: $primaryColor;
    color: white;
  }
}

#featuredList div {
  margin-left : .3rem;
}

#more, #less {
  background-color: $primaryColor;
  color: white;
  border-radius: 0;
  &:hover {
    background-color: white;
    border: solid 2px $primaryColor;
    color: $titleColor;
  }
}

/*FOOTER*/
footer {
  background-color: black;
  color: white;
}

.subscribeNL {
  display : inline-block;
  background-color: white;
}

button.btnSubmit {
  padding-top: 0rem;
  padding-bottom: 0rem;
  line-height: 0.5rem;
  margin-left:0.2rem;
}

.titleFooter {
  border-bottom: solid 1px rgb(121, 121, 121);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.reviewMovie>div{
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.13);
  padding-right: 0.5rem;
  padding-left: 00.5rem;
  margin-bottom: 0.3rem;
}

.ftIntersection {
  display:block;
  height : 2rem;
  border-top: solid 1px rgb(121, 121, 121);
  border-bottom: solid 1px rgb(121, 121, 121);
}