// @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rye&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
$primaryColor : #FE4240;

body, li, ul {
  margin : 0;
  padding : 0;
}

.btn {
  background-color: $primaryColor;
  color: white;
}

.loginNavbar {
  background-color: $primaryColor;
}