@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rye&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
/*RESET*/
body, li, ul, .jumbotron {
  margin: 0;
  padding: 0;
}

li, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*BODY*/
.btn {
  border-radius: 0px;
  background-color: #FE4240;
}
.btn:hover {
  background-color: white;
  color: #4f5354;
  border: solid 2px #FE4240;
}

.red {
  color: #FE4240;
}

.bold {
  font-weight: 600;
}

h2:not(.captionH2) {
  display: block;
  color: #4f5354;
  border-left: solid 5px #FE4240;
  margin-left: 1rem;
  padding-left: 1rem;
}

.modal {
  color: #4f5354;
}

.modal-footer button {
  background-color: #FE4240;
  color: white;
}

/*NAVIGATION*/
nav.navbar {
  position: absolute;
  z-index: 1;
}

nav.navbar h1 a {
  font-size: 2.5rem;
  font-weight: 700;
}

li.nav-item {
  background-color: rgba(255, 255, 255, 0.253);
  margin-right: 3px;
  font-size: 0.9rem;
}
li.nav-item.active {
  background-color: #FE4240;
  color: white;
}
li.nav-item:first-child {
  background-color: rgba(255, 255, 255, 0);
}
li.nav-item:last-child {
  background-color: rgba(255, 255, 255, 0);
}

/*INPUT SEARCH*/
input.form-control {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.searchConcat {
  display: inline-block;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.39);
  color: #a1a1a1;
}

/*JUMBOTRON- CAROUSEL*/
.carousel-inner .btn {
  color: white;
  background-color: #FE4240;
}

.btn_featuredMovie {
  margin-right: 3px;
  background-color: #f2f0f1;
  color: #4f5354;
}

.carousel-item img {
  height: 70vh;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  filter: brightness(0.65);
}

.carousel-inner {
  position: relative;
}

.carousel-caption {
  position: absolute;
  top: 40%;
}
.carousel-caption h2 {
  color: white;
  font-size: 3rem;
}
.carousel-caption h2 .red {
  font-size: 3.5rem;
}

#carouselExampleIndicators .active {
  background-color: #FE4240;
}

/*LOGIN NAVBAR*/
.loginNavbar {
  background-color: #FE4240;
  font-size: 0.9rem;
}
.loginNavbar ul li .btn {
  display: block;
  background-color: black;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.loginNavbar li.nav-item > a:hover {
  background-color: white;
  color: #4f5354;
}

/*MOVIE PLAYING CARD*/
.moviePlayingCard {
  border: none;
  margin-bottom: 0.7rem;
  transition: all 0.2s ease-in-out;
}
.moviePlayingCard:hover {
  transform: scale(1.05);
}

.card-img-top {
  border-radius: 0px;
}

#moviesPlaying {
  margin-top: 1rem;
}

#cardList {
  border: 1px solid lightgray;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.youtube {
  width: 100%;
  height: 300px;
}

/*SOCIAL NETWORK BUTTONS*/
.socialButtons {
  z-index: 100;
  position: fixed;
  top: 40vh;
}
.socialButtons .sw_btn {
  display: block;
  width: 11rem;
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  line-height: 2.3rem;
  margin-bottom: 2px;
  border-radius: 5rem;
  padding-left: 2rem;
  position: absolute;
  left: -8.8rem;
  transition: all 0.4s ease-out;
}
.socialButtons .sw_btn:hover {
  left: -2rem;
}
.socialButtons .sw_btn a {
  text-decoration: none;
  color: white;
}

.facebook {
  background-color: #3c5f95;
  top: 2.5rem;
}

.instagram {
  background-color: #f34a8d;
  top: 5rem;
}

.twitter {
  background-color: #1ca2f7;
  top: 0rem;
}

.google {
  background-color: #d14b3f;
  top: 7.5rem;
}

.whiteRound {
  display: block;
  background-color: white;
  border-radius: 20px;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.3rem;
}
.whiteRound .fab {
  font-size: 1.3rem;
}

/*FEATURED MOVIES*/
.btn_featuredMovie:hover {
  background-color: #FE4240;
  color: white;
}
.btn_featuredMovie:focus {
  background-color: #FE4240;
  color: white;
}

#featuredList div {
  margin-left: 0.3rem;
}

#more, #less {
  background-color: #FE4240;
  color: white;
  border-radius: 0;
}
#more:hover, #less:hover {
  background-color: white;
  border: solid 2px #FE4240;
  color: #4f5354;
}

/*CONTACT US*/
.boutonContact {
  background-color: #FE4240;
  color: white;
  border-radius: 0px;
  border: none;
  padding: 0.5rem;
}
.boutonContact:hover {
  background-color: white;
  border: solid 2px #FE4240;
  color: #4f5354;
}

/*FOOTER*/
footer {
  background-color: black;
  color: white;
}

.subscribeNL {
  display: inline-block;
  background-color: white;
}

button.btnSubmit {
  padding-top: 0rem;
  padding-bottom: 0rem;
  line-height: 0.5rem;
  margin-left: 0.2rem;
}

.titleFooter {
  border-bottom: solid 1px #797979;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.reviewMovie > div {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.13);
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 0.3rem;
}

.ftIntersection {
  display: block;
  height: 2rem;
  border-bottom: solid 1px #797979;
}

#footerTable img {
  width: 33%;
}

#footerList img {
  width: 25vh;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
  padding-bottom: 0.5rem;
}

.carre {
  display: block;
  border: 1px solid #4d4d4d;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 5px;
  margin-right: 0.5rem;
}

/*Arrow Up*/
canvas {
  width: 100%;
  border-radius: 50%;
}

#arrow {
  width: 5rem;
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  background-color: black;
  border-style: solid;
  border-radius: 50%;
  border-color: #FE4240;
  border-width: 3px;
  transition: background-color 1s;
}
#arrow:hover {
  background-color: #141414;
}