@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
body, li, ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  color: #4f5354;
}

.btn {
  border-radius: 0px;
}

.titleRed {
  color: #FE4240;
}

.loginNavbar {
  background-color: #FE4240;
}

.carousel-inner .btn {
  color: white;
  background-color: #FE4240;
}

.btn_featuredMovie {
  margin-right: 3px;
  background-color: #f2f0f1;
  color: #4f5354;
}