@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rye&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
/*RESET*/
body, li, ul, .jumbotron {
  margin: 0;
  padding: 0;
}

li, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*BODY*/
h2 {
  color: #4f5354;
}

.btn {
  border-radius: 0px;
}

.red {
  color: #FE4240;
}

.bold {
  font-weight: 600;
}

/*NAVIGATION*/
nav.navbar {
  position: absolute;
  z-index: 1;
}

nav.navbar h1 a {
  font-size: 3rem;
  font-weight: 700;
}

.nav-item .active {
  background-color: #FE4240;
}

.navbar-toggler {
  background-color: #fff;
}

/*JUMBOTRON- CAROUSEL*/
.carousel-inner .btn {
  color: white;
  background-color: #FE4240;
}

.btn_featuredMovie {
  margin-right: 3px;
  background-color: #f2f0f1;
  color: #4f5354;
}

.carousel-item img {
  height: 70vh;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.carousel-inner {
  position: relative;
}

.carousel-caption {
  position: absolute;
  top: 40%;
}

/*LOGIN NAVBAR*/
.loginNavbar {
  background-color: #FE4240;
}